@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveAndFlip {
  0% {
    left: -100%; /* Start off-screen */
  }
  100% {
    left: 100%; /* Move across the screen */
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

.animate-moveAndFlip {
  animation: moveAndFlip 5s infinite linear;
}

.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

